vendor/
.idea
.vscode
config.hjson
config.yml
session.token
device1.json
data/
logs/
internal/btree/*.lock
internal/btree/*.db

# binary builds
go-cqhttp
*.exe

# macos
.DS_Store

# windwos rc
*.syso
